In [3]:
#Convert days into year, months and days
days=int(input("Enter Days: "))
years=days//365
months=(days%365)//30
days=(days%365%30)
print(f"{years} years {months} months {days} days")

Enter Days:  398

1 years 1 months 3 days

In [11]:
#Convert Seconds into days,hours,minutes and seconds
seconds=int(input('Enter Seconds: '))
days=seconds//(24*3600)
hours=seconds%(24*3600)//3600
minutes=seconds%(24*3600)%3600//60
seconds=seconds%(24*3600)%60%60
print(f'{days}:{hours}:{minutes}:{seconds}')

Enter Seconds:  100000

1:3:46:40

In [1]:
while True:
    hour = int(input('Enter time (1-12): '))
    if hour < 1 or hour > 12:
        print('Enter valid hour input')
        continue

    print('''
    1 - AM
    2 - PM
    ''')
    ch = int(input('Enter choice: '))
    if ch == 1:
        time = 'AM'
    elif ch == 2:
        time = 'PM'
    else:
        print('Enter valid input')
        continue

    print(f'{hour} {time}')
    inc = int(input('Enter hours to increment: '))
    
    # Calculating new hour
    ft = hour + inc
    cycles = ft // 12  # Number of 12-hour cycles
    ft = ft % 12
    if ft == 0:
        ft = 12

    # Toggle AM/PM based on cycles
    if cycles % 2 == 1:
        if time == 'AM':
            ft_time = 'PM'
        else:
            ft_time = 'AM'
    else:
        ft_time = time

    print(f'{ft} {ft_time}')
    break

Enter time (1-12):  8

    1 - AM
    2 - PM

Enter choice:  1

8 AM

Enter hours to increment:  37

9 PM

In [5]:
#Tribonacci Numbers
n=int(input('Enter range of numbers strating from 1: '))
a,b,c=0,0,1
for i in range(1,n+1):
    print(a)
    sum=a+b+c
    a=b
    b=c
    c=sum

Enter range of numbers strating from 1:  18

0
0
1
1
2
4
7
13
24
44
81
149
274
504
927
1705
3136
5768

In [39]:
#Shree Ramanujan Number - 1729
#To find pairs
num=1729
for i in range(1,100):
    for j in range(1,100):
        a=i**3
        b=j**3
        sum=a+b
        if sum==num:print(f'({i},{j})')

(1,12)
(9,10)
(10,9)
(12,1)

In [57]:
#To find numbers
lm=50
ls=[]
for a in range(1,lm):
    for b in range(a,lm):
        for c in range(a,lm):
            for d in range(c,lm):
                if a!=c:
                    x=a**3+b**3
                    y=c**3+d**3
                if x==y:
                    print(x)

1729
4104
13832
39312
46683
32832
110656
110808
40033
20683
65728
64232

In [71]:
#Mix Program
def find_Shree_Ramanujan_Numbers(lm=20):
    x,y=0,1
    for a in range(1,lm):
        for b in range(a,lm):
            for c in range(a,lm):
                for d in range(c,lm):
                    if a!=c:
                        x=a**3+b**3
                        y=c**3+d**3
                    if x==y:
                        print(x,'->',end=' ')
                        find_Pairs(x)
def find_Pairs(num,lm=100):
    num_ls=[]
    for i in range(1,lm):
        for j in range(1,lm):
            if i<j:
                a=i**3
                b=j**3
                sum=a+b
                if sum==num:
                    num_ls.append(f'({i},{j})')
    for x in set(num_ls):
        print(x,end=' ')
    else:print()

find_Shree_Ramanujan_Numbers(40)

1729 -> (9,10) (1,12)
4104 -> (2,16) (9,15)
13832 -> (2,24) (18,20)
39312 -> (2,34) (15,33)
46683 -> (27,30) (3,36)
32832 -> (18,30) (4,32)
40033 -> (9,34) (16,33)
20683 -> (19,24) (10,27)
64232 -> (17,39) (26,36)

In [73]:
#a+aa+aaa+aaaa+....
n=int(input('Enter a number: '))
print(int(f'{n}')+int(f'{n}'*2)+int(f'{n}'*3)+int(f'{n}'*4))

Enter a number:  9

11106

In [75]:
#1-2+3-4+5-6+..+2000
lm=2000
sum=0
for i in range(1,lm+1):
    if i%2==0:sum-=i
    else:sum+=i
print(sum)

-1000

In [81]:
#Bank
n=int(input('Enter a number: '))
count=1
temp=count
sum=0
for i in range(1,n+1):
    sum+=temp
    temp+=1
    if i%7==0:
        count+=1
        temp=count
print(sum)

Enter a number:  17

75

In [171]:
#Swap First and Last digits
n=int(input('Enter a number: '))
ld=n%10
count,temp=0,n
while temp>0:
    count+=1
    temp//=10
if n>=0 and n<10:
    fd=0
else:
    fd=n//(10**(count-1))
# print(fd,ld)
n//=10
n=(n*(10)+fd)%(10**(count-1))+((10**(count-1))*ld)
print(n)

Enter a number:  1726354

1 4
4726351

In [1]:
#Disarium Number
print('Disarium Number: ')
for i in range(1,100000):
    num=i
    count=0
    while num>0:
        count+=1
        num//=10
    temp=i
    ans=0
    while temp>0:
        ans+=(temp%10)**count
        count-=1
        temp//=10
    if ans==i:print(i)

1
2
3
4
5
6
7
8
9
89
135
175
518
598
1306
1676
2427

In [13]:
#Square Free Number
n=int(input('Enter a number: '))
for j in range(2,n+1):
    if (n%j==0):
        num=int(j**(1/2))        
        if num**2==j:
            print('Not Square Free')
            break
else:print('Square Free')

Enter a number:  35

Square Free

In [20]:
#Amicable Number
for i in range(1,301):
    sum1=0
    for k in range(1,i):
        if i%k==0:sum1+=k
    for j in range(1,301):
        sum2=0
        for l in range(1,j):
            if j%l==0:sum2+=l
        if sum1==j and sum2==i and i!=j:
            print(f'({i} , {j})')

(220 , 284)
(284 , 220)

In [1]:
sum=0
max1=0
min1=0
max2=0
min2=0
for i in range(1,11):
    num=int(input(f'Enter number#{i}: '))
    sum+=num
    if i==1:
        max1=num
        min1=num
    if num>max1:
        max2=max1
        max1=num
    elif num>max2:
        max2=num
    if num<min1:
        min2=min1
        min1=num
    elif num<min2:
        min2=num
print(sum)
print(max1)
print(min1)
print(max2)
print(min2)

Enter number#1:  1
Enter number#2:  2
Enter number#3:  3
Enter number#4:  4
Enter number#5:  5
Enter number#6:  6
Enter number#7:  7
Enter number#8:  8
Enter number#9:  9
Enter number#10:  10

55
10
1
9
0

In [5]:
#Pascal's Triangle
n=int(input('Enter: '))
for i in range(1,n+1):
    for k in range(n,i,-1):
        print(end=' ')
    c=1
    for j in range(1,i+1):
        print(c,end=' ')
        c=int(c*(i-j)/j)
    print()

Enter:  5

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [6]:
whos

Variable   Type    Data/Info
----------------------------
c          int     0
i          int     5
j          int     5
k          int     5
max1       int     10
max2       int     9
min1       int     1
min2       int     0
n          int     5
num        int     10
sum        int     55

In [8]:
#WAP to find a number which is smallest to be divided from 1 to 10
i=1
while True:
    j=1
    while j<=10:
        if i%j!=0:break
        j+=1
    else:
        print(i)
        break
    i+=1

2520

In [64]:
#Happy Number
def check_happy_number(n):
    i=1
    sum=n*n
    while True:
        if i==n:return False
        ans=sum
        sum=0
        while ans>0:
            sum+=((ans%10)**2)
            ans//=10
        if sum==1:return True
        i+=1

In [65]:
print(check_happy_number(19))

False

In [66]:
for i in range(1,101):
    if check_happy_number(i):print(i)

7
10
28
38
39
58
64
65
66
70
85
88
91
98
100

In [67]:
def is_happy_number(n):
    def get_next(num):
        total_sum = 0
        while num > 0:
            digit = num % 10
            total_sum += digit ** 2
            num //= 10
        return total_sum

    seen = set()
    while n != 1 and n not in seen:
        seen.add(n)
        n = get_next(n)

    return n == 1

# Test the function
number = int(input("Enter a number: "))
if is_happy_number(number):
    print(f"{number} is a happy number!")
else:
    print(f"{number} is not a happy number.")

Enter a number:  20

20 is not a happy number.

In [57]:
for i in range(1,101):
    if is_happy_number(i):print(i,end=', ')

1, 7, 10, 13, 19, 23, 28, 31, 32, 44, 49, 68, 70, 79, 82, 86, 91, 94, 97, 100,