In [83]:
#Pattern A
n=int(input('Enter a number: '))
for i in range(1,n+1):
    for k in range(n,i,-1):print(end=' ')
    for j in range(1,i+1):
        if (i==(n//2)+1):print('*',end=' ')
        elif (i!=(n//2)+1 and (j==1 or j==i)):print('*',end=' ')
        else:print(end='  ')
    print()

Enter a number:  7

      *
     * *
    *   *
   * * * *
  *       *
 *         *
*           *

In [79]:
n=int(input('Enter a number: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

Enter a number:  5

*
* *
* * *
* * * *
* * * * *

In [131]:
# Write your own python program for computing square roots that implements Newton’s Method. Use of inbuilt function, math library or x**0.5
# is not allowed.Newton Method is a category of guess-and-check approach. You first guess what the square root might be and then see how close 
# your guess is. You can use this information to make another guess and continue guessing until you have found the square root 
# (or a close approximation to it). Suppose x is the number we want the root of and guess is the current guessed answer. The guess can be improved 
# by using (guess+ x/guess)/2 as the next guess.The program should - 1.	Prompt the user for the value to find the square root of (x) and the number
# of times to improve the guess. 2. Starting with a guess value of x/2, your program should loop the specified number of times
#applying Newton’s method 
# and report the final value of guess.

x=int(input('Enter a number: '))
iterations=int(input('Enter iterations: '))
def square_num(x:int,iterations:int)->float:
    guess=x/2
    for i in range(iterations):
        guess=(guess+x/guess)/2
    return guess
print(square_num(x,iterations))

Enter a number:  100
Enter iterations:  100

10.0

In [135]:
a=1,00,000
print(a)

(1, 0, 0)

In [137]:
print('hello-'+'how-are-you')

hello-how-are-you

In [139]:
print('hello','how','are','you',sep='-')

hello-how-are-you

In [267]:
# global x
def fun():
    global x
    x=20
    print(x)
x=50
fun()
print(x)

20
20

20
20

In [169]:
new= (1 and "True") and ('False' or Train)
print(type(new))
str= 'This statement is '+ new
print(str)
print("This is False" if "False" in new else "This is True")

<class 'str'>
This statement is False
This is False

In [1]:
"a"+"bc"

'abc'

In [5]:
a='True'
print(a,type(a))

True <class 'str'>

In [33]:
a=('' and 'False')
a
# print(a,type(a),bool(a),type(bool(a)))

''

In [35]:
abc="Hello"
abc

'Hello'

In [37]:
print(False and 1)

False

In [43]:
a=5
b=16
b>=a
print(b)

16

In [50]:
while(0):
    print(1)

In [52]:
num=5
count=1
while(num):
    print(count)
    count+=1
    num-=1

1
2
3
4
5

In [54]:
var = 10
for i in range(10): 
    for j in range(2, 10, 1): 
        if var % 2 == 0: 
            continue 
            var += 1 
    var+=1
else: var+=1
print(var)

21

In [60]:
x=12
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [62]:
for num in range(2,-5,-1): 
    print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [64]:
True = False
while True: 
    print(True) 
    break

SyntaxError: cannot assign to True (2545087090.py, line 1)

In [92]:
for i in range(float('inf')): print (i)

TypeError: 'float' object cannot be interpreted as an integer

In [76]:
x = 2
for i in range(x): 
    x -= 2 
    print (x)

0
-2

In [86]:
int("Enter value of x:") 
for i in range(0, 10): 
    print("They are equal") 
else: print( "They are unequal")

ValueError: invalid literal for int() with base 10: 'Enter value of x:'

In [126]:
print(float(float('inf')-float('-inf')))

OverflowError: cannot convert float infinity to integer

ValueError: invalid literal for int() with base 10: 'yash'

In [132]:
if (9 < 0) and (0 < -9): 
    print("hello")
elif (9 > 0) or False: 
    print("good")
else:
print("bad")

IndentationError: expected an indented block after 'else' statement on line 5 (1841809919.py, line 6)

In [134]:
if x < y: if x > 10: print('foo')

SyntaxError: invalid syntax (1352384776.py, line 1)

In [142]:
a=b=0

print(a,b,c)

0 0 0

In [273]:
# global num_fib_calls
# num_fib_calls=0
def fib(x): 
    global num_fib_calls 
    num_fib_calls += 1 
    if x == 0 or x == 1: 
        return 1 
    else: 
        return fib(x-1) + fib(x-2)

def test_fib(n): 
    for i in range(n+1): 
        global num_fib_calls 
        num_fib_calls = 0 
        print('fib of', i, '=', fib(i)) 
        print('fib called', num_fib_calls, 'times.')

test_fib(6)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.
fib of 5 = 8
fib called 15 times.
fib of 6 = 13
fib called 25 times.

In [152]:
def func():
    global a
    a+=1
func()
print(a)

1

In [165]:
print(f1())
def f1():
    print('hello')

NameError: name 'f1' is not defined

In [171]:
x=0
count=0
for x in range(10): 
    print(x)
    while x<15: 
        if x<0: 
            pass 
        elif x%2==0: 
            x+=1 
            continue 
        elif x%3==0: 
            x+=1 
            continue 
        elif count==5: 
            break 
        count+=1
print(x,count)

0
1
2
3
4
5
6
7
8
9
11 5

In [1]:
# Write a Python program to add 2 Numbers with user input.
a=int(input('Enter number 1: '))
b=int(input('Enter number 2: '))
print('Sum of two numbers is:',a+b)

Enter number 1:  1
Enter number 2:  2

Sum of two numbers is: 3

In [5]:
 # Write a Python program to find the area of Circle.
import math as m
radius=float(input('Enter radius of circle: '))
area=m.pi*radius**2
print(f'Area of circle is: {area:.2f}')

Enter radius of circle:  3

Area of circle is: 28.27

In [7]:
 # Write a Python program to find the area of Triangle.
base=float(input('Enter base of triangle: '))
height=float(input('Enter height of triangle: '))
area=0.5*base*height
print(f'Area of triangle is: {area}')

Enter base of triangle:  5
Enter height of triangle:  10

Area of triangle is: 25.0

In [9]:
 # Write a Python program to calculate the area of a trapezoid.
b1=float(input('Enter value of base 1: '))
b2=float(input('Enter value of base 2: '))
height=float(input('Enter value of height: '))
area=((b1+b2)/2)*height
print(f'Area of trapezoid is: {area:.2f} units')

Enter value of base 1:  3
Enter value of base 2:  6
Enter value of height:  7

Area of trapezoid is: 31.50 units

In [19]:
 # Write a Python program to calculate surface volume and area of a cylinder.
import math as m
rad=float(input('Enter radius of cylinder: '))
height=float(input('Enter height of cylinder: '))
vol=m.pi*rad**2*height
area=2*m.pi*rad*height+2*m.pi*rad**2
print(round(vol,2),round(area,2))

Enter radius of cylinder:  3
Enter height of cylinder:  7

197.92 188.5

In [35]:
 # Write a Python program to convert Fahrenheit to Celsius and vice versa.
def CToF(temp:float)->float:
    return round(temp*9/5+32,2),'℉'
def FToC(temp:float)->float:
    return round((temp-32)*5/9,2),'℃'
temp=float(input('Enter temprature: '))
a,b=FToC(temp)
print(a,b)

Enter temprature:  212

100.0 ℃

In [194]:
 # Write a Python program to find an integer exponent x such that a^x = n
import math as m
n=float(input('Enter a number: '))
ans=float(input('Enter answer: '))
exp=round((m.log(ans,n)),2)
print(exp)

# i=1
# ans1=n
# while True:
#     if ans1==ans:
#         print(i)
#         break
#     ans1*=n
#     i+=1

Enter a number:  2
Enter answer:  1.414

0.5

In [196]:
n=4
for i in range(1,n+1):
    for k in range(n,i,-1):print(end=' ')
    for j in range(1,i+1):print(i,end=' ')
    print()

for i in range(1,n+1):
    for k in range(n,i,-1):print(end=' ')
    for j in range(1,i+1):print(j,end=' ')
    print()

for i in range(1,n+1):
    for k in range(n,i,-1):print(end=' ')
    for j in range(1,i+1):
        if i%2==1:print('*',end=' ')
        else:print('#',end=' ')
    print()

   1
  2 2
 3 3 3
4 4 4 4
   1
  1 2
 1 2 3
1 2 3 4
   *
  # #
 * * *
# # # #

In [204]:
for i in range(1,n+1):
    for k in range(n,i,-1):print(end=' ')
    for j in range(1,i+1):print('*',end=' ')
    print()

for i in range(n,0,-1):
    for j in range(1,i+1):print('*',end=' ')
    print()

for i in range(1,n+1):
    for k in range(1,i):print(end='  ')
    for j in range(i,n+1):print('*',end=' ')
    print()

   *
  * *
 * * *
* * * *
* * * *
* * *
* *
*
* * * *
  * * *
    * *
      *

In [206]:
#Qb 172
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [208]:
n=4
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1
2 2
3 3 3
4 4 4 4

In [216]:
for i in range(1,n+1):
    for j in range(1,i+1):
        if i%2==1:print('*',end=' ')
        else:print('#',end=' ')
    print()

for i in range(1,n+1):
    if i%2==1:print('* '*i,end=' ')
    else:print('# '*i,end=' ')
    print()

for i in range(1,n+1):
    for j in range(1,i+1):
        if (i+j)%2==0:print(1,end=' ')
        else:print(0,end=' ')
    print()

*
# #
* * *
# # # #
*
# #
* * *
# # # #
1
0 1
1 0 1
0 1 0 1

In [218]:
for i in range(1,n+1):
    for j in range(1,i+1):print('*',end=' ')
    print()

*
* *
* * *
* * * *

In [234]:
#Armstrong Number
def count_digits(n:int)->int:
    count=0
    while n>0:
        count+=1
        n//=10
    return count
def check_armstrong_number(n:int)->bool:
    count=count_digits(n)
    temp=n
    ans=0
    while temp>0:
        ans+=((temp%10)**count)
        temp//=10
    return ans==n
# print(check_armstrong_number(369))
def list_armstrong_number(start:int,end:int)->None:
    print('Armstrong Number List: ')
    for i in range(start,end+1):
        if check_armstrong_number(i):print(i)
list_armstrong_number(1,100000)

Armstrong Number List:
1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474
54748
92727
93084

In [250]:
#Prime Number
def check_prime_number(n:int)->bool:
    i=2
    if n<=1:return False
    while i<n:
        if n%i==0:return False
        i+=1
    return True
# print(check_prime_number(12))

def list_prime_number(start:int,end:int)->None:
    print('Prime Number list: ')
    for i in range(start,end+1):
        if check_prime_number(i):print(i)
list_prime_number(1,20)

Prime Number list:
2
3
5
7
11
13
17
19

In [272]:
#Disarium Number
def check_disarium_number(n:int)->bool:
    count=count_digits(n)
    temp=n
    ans=0
    while temp>0:
        ans+=(temp%10)**(count)
        count-=1
        temp//=10
    return ans==n
# print(check_disarium_number(135))

def list_disarium_number(start:int,end:int)->None:
    print('Disarium Number list: ')
    for i in range(start,end+1):
        if check_disarium_number(i):print(i)
list_disarium_number(1,1000)

Disarium Number list:
1
2
3
4
5
6
7
8
9
89
135
175
518
598

In [286]:
#Perfect Number
def check_perfect_number(n:int)->bool:
    sum=0
    mul=1
    while n>0:
        rem=n%10
        sum+=rem
        mul*=rem
        n//=10
    return sum==mul
# print(check_perfect_number(1234))
def list_perfect_number(start:int,end:int)->None:
    for i in range(start,end+1):
        if check_perfect_number(i):print(i)
list_perfect_number(1,1000)

1
2
3
4
5
6
7
8
9
22
123
132
213
231
312
321

In [304]:
def check_odd_even(n:int)->None:
    if i%2==0:print('Number is Even')
    else:print('Number is ODD')

def check_pos_neg_zero()->None:
    n=int(input('Enter a number: '))
    if n>0:print('Number is positive')
    elif n==0:print('Number is zero')
    else:print('Number is negetive')

def max_num_3(a:int,b:int,c:int)->int:
    if a>b and a>c: return a
    elif b>c: return b
    else: return c

def max_num_4(a:int,b:int,c:int,d:int)->int:
    if a>b and a>c and a>d: return a
    elif b>c and b>d: return b
    elif c>d: return c
    else: return d

def sum_of_num(n:int)->None:
    sum=0
    for i in range(1,n+1):sum+=i
    print('Sum of number is:',sum)

def avg_of_num()->None:
    n=int(input('Enter a number: '))
    avg=0
    for i in range(1,n+1):avg+=i
    avg/=n
    print('Average is:',round(avg,2))

def check_leap_year(year:int)->bool:
    # if ((year%400==0) or ((year%100!=0) and (year%4==0))):return True
    # return False
    return ((year%400==0) or ((year%100!=0) and (year%4==0)))

def check_leap_year(year:int)->bool:
    if year%4==0:
        if year%100!=0 or year%400==0:
            return True
        else:
            return False
    else:
        return False
print(check_leap_year(1904))

# check_odd_even(1)
# check_pos_neg_zero()
# print(max_num_3(1,4,2))
# print(max_num_4(45,23,76,87))
# sum_of_num(10)
# avg_of_num()
# print(check_leap_year(2024))

True

In [306]:
# Write a python program to read three numbers (a,b,c) and check how many numbers between ‘a’ and ‘b’ are divisible by ‘c’.
a=int(input('Enter starting number: '))
b=int(input('Enter ending number: '))
c=int(input('Enter number for division: '))
for i in range(a,b+1):
    if i%c==0:print(i)

Enter starting number:  1
Enter ending number:  10
Enter number for division:  5

5
10

In [308]:
for i in range(0,6+1):
    if i%3==0 and i!=0:continue
    print(i)

0
1
2
4
5

In [338]:
def multiplication_table(n):
    for i in range(1,11):print(f'{n} x {i} = {n*i}')

def factorial_number():
    n=int(input('Enter a number to find it\'s factorial: '))
    fact=1
    for i in range(1,n+1):fact*=i
    return fact

def fibonacci_series(n):
    print('Fibonacci Series is: ')
    a=0
    b=1
    sum=0
    for i in range(1,n+1):
        print(a)
        # sum,a,b=a+b,b,sum
        sum=a+b
        a=b
        b=sum

In [340]:
multiplication_table(109)

109 x 1 = 109
109 x 2 = 218
109 x 3 = 327
109 x 4 = 436
109 x 5 = 545
109 x 6 = 654
109 x 7 = 763
109 x 8 = 872
109 x 9 = 981
109 x 10 = 1090

In [342]:
print(factorial_number())

Enter a number to find it's factorial:  5

120

In [346]:
fibonacci_series(8)

Fibonacci Series is:
0
1
1
2
3
5
8
13

In [348]:
# Write a program to take 10 values from keyboard using loop and print their average on the screen
sum=0
for i in range(10):sum+=int(input(f'Enter number#{i+1}: '))
avg=sum/10
print(f'Average Number: {avg}')

Enter number#1:  1
Enter number#2:  2
Enter number#3:  3
Enter number#4:  4
Enter number#5:  5
Enter number#6:  6
Enter number#7:  7
Enter number#8:  8
Enter number#9:  9
Enter number#10:  10

Average Number: 5.5

In [350]:
#Reverse Number
n=int(input('Enter a number: '))
temp=n
rev=0
while temp>0:
    rev=rev*10+(temp%10)
    temp//=10
print(rev)

Enter a number:  1234

4321

In [370]:
# Gross Pay, Annual Income and Income Tax Calculator
grade:str=''
city:int=0
basic_pay=0
hra:float=0#House Rent Allowance
da:float=0#Dearness Allowance
ta:float=900#Transport Allowance
oa:float=0#Other Allowance
epf:float=0#Employee's Provident Fund
pt:float=200#Professional Tax
gross_pay:float=0
income_tax:float=0
annual_pay:float=0

grade=input('Enter the grade_level(A,B,C,D,E or F): ')
print('city 1 is a tier 1 (metro), city 2 is tier 2 and city 3 is tier 3')
city=int(input('Enter the city(1,2 or 3): '))

if grade=='A':
    basic_pay=60000
    oa=8000
elif grade=='B':
    basic_pay=50000
    oa=7000
elif grade=='C':
    basic_pay=40000
    oa=6000
elif grade=='D':
    basic_pay=30000
    oa=5000
elif grade=='E':
    basic_pay=20000
    oa=4000
elif grade=='F':
    basic_pay=10000
    oa=3000
else:
    # print('Enter valid grade')
    raise ValueError('Invalid Grade Value Input')
da=basic_pay*0.5
epf=basic_pay*0.11

if city==1:hra=basic_pay*0.3
elif city==2:hra=basic_pay*0.2
elif city==3:hra=basic_pay*0.1
else:raise ValueError('Invalid City Value Input')

gross_pay=basic_pay+hra+da+ta+oa-epf-pt
annual_pay=gross_pay*12

if annual_pay>=0 and annual_pay<=250000:income_tax=annual_pay*0
elif annual_pay>250000 and annual_pay<=500000:income_tax=(annual_pay-250000)*0.05
elif annual_pay>500000 and annual_pay<=750000:income_tax=((annual_pay-500000)*0.1)+12500
elif annual_pay>750000 and annual_pay<=100000:income_tax=((annual_pay-750000)*0.15)+37500
elif annual_pay>1000000 and annual_pay<=1250000:income_tax=((annual_pay-1000000)*0.2)+75000
elif annual_pay>1250000 and annual_pay<=1500000:income_tax=((annual_pay-1250000)*0.25)+125000
elif annual_pay>1500000:income_tax=((annual_pay-1500000)*0.3)+187500

print(f'''
Gross Pay of an Employee is: {gross_pay}
Annual income of an employee is: {annual_pay}
Income Tax to be paid by an employee is: {income_tax} 
''')

Enter the grade_level(A,B,C,D,E or F):  A

city 1 is a tier 1 (metro), city 2 is tier 2 and city 3 is tier 3

Enter the city(1,2 or 3):  1

Gross Pay of an Employee is: 110100.0
Annual income of an employee is: 1321200.0
Income Tax to be paid by an employee is: 142800.0

In [313]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for k in range((n*2-(i*2+1))):
        print(' ',end=' ')
    for j in range(i,0,-1):
        if j==n:continue
        print(j,end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    for k in range((n*2)-(i*2+1)):
        print(' ',end=' ')
    for j in range(i,0,-1):
        if j==n:continue
        print(j,end=' ')
    print()

1               1
1 2           2 1
1 2 3       3 2 1
1 2 3 4   4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4   4 3 2 1
1 2 3       3 2 1
1 2           2 1
1               1

In [404]:
for i in range(1,n+1):
    print('  '*(n-i),end=' ')
    print(f'{i}   '*i)

         1
       2   2
     3   3   3
   4   4   4   4
 5   5   5   5   5

In [420]:
def in_range(n:int,end:int,start:int=0)->bool:
    return (n in range(start,end+1))
print(in_range(1,10))

True

In [424]:
# Write a Python program to demonstrate the function of finding sum and average of first n natural numbers.
def sum_avg(n):
    sum=0
    avg=0
    for i in range(1,n+1):sum+=i
    else:avg=sum/(n)
    print(f'Sum of first n numbers is: {sum} and Average of first number is: {avg}')
sum_avg(10)

Sum of first n numbers is: 55 and Average of first number is: 5.5

In [428]:
n=5
for i in range(1,n+1):
    for k in range(n,i,-1):print(end=' ')
    for j in range(1,i+1):print(j,end=' ')
    print()
for i in range(n-1,0,-1):
    for k in range(i,n):print(end=' ')
    for j in range(1,i+1):print(j,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [432]:
for i in range(1,n+1):
    for k in range(n,i,-1):print(end=' ')
    for j in range(i,0,-1):print(j,end=' ')
    print()
for i in range(n-1,0,-1):
    for k in range(i,n):print(end=' ')
    for j in range(i,0,-1):print(j,end=' ')
    print()

    1
   2 1
  3 2 1
 4 3 2 1
5 4 3 2 1
 4 3 2 1
  3 2 1
   2 1
    1

In [434]:
#Reverse Number
def reverse_number(n):
    temp=n
    rev=0
    while temp>0:
        rev=rev*10+temp%10
        temp//=10
    return rev
print(reverse_number(1234))

4321

In [508]:
#Change First and Last Digits
def change_first_last_digits(n):
    ld=n%10
    count=count_digits(n)
    fd=n//(10**(count-1))
    ans=((n//10)*10+fd)%(10**(count-1))+(ld*(10**(count-1)))
    return ans
print(change_first_last_digits(123456))

623451

In [93]:
# Write a Python program to compute the greatest common divisor (GCD) of two positive integers.
# The greatest common divisor (GCD) of two nonzero integers a and b is the greatest positive integer d such that d is a divisor of both a and b;
# that is, there are integers e and f such that a = de and b = df, and d is the largest such integer. 
# The GCD of a and b is generally denoted gcd(a, b). 
# For example, the greatest common factor of 15 and 10 is 5, since both the numbers can be divided by 5.
def gcd(n1,n2):
    i=1
    gcd=0
    while i<=n1 and i<=n2:
        if n1%i==0 and n2%i==0:
            gcd=i
        i+=1
    else:return gcd
print(gcd(120,100))

20

In [281]:
max_even=0
min_even=0
max_odd=0
min_odd=0
avg_even=0
avg_odd=0
count=0
count_even=0
count_odd=0
while True:
    count+=1
    num=input('Enter a number(enter stop when you wanna exit): ')
    if num=='stop' or num=='Stop':break
    n=int(num)
    if count_odd==0:
        if n%2!=0:
            max_odd=n
            min_odd=n
    if  count_even==0:
        if n%2==0:
            max_even=n
            min_even=n
    if n%2==0:
        avg_even+=n
        if n>max_even:max_even=n
        if n<min_even:min_even=n
        count_even+=1
    else:
        avg_odd+=n
        if n>max_odd:max_odd=n
        if n<min_odd:min_odd=n
        count_odd+=1
print(f'for even({max_even} {min_even} {avg_even/count_even}(max,min,avg))')
print(f'for odd({max_odd} {min_odd} {avg_odd/count_odd}(max,min,avg))')

Enter a number(enter stop when you wanna exit):  1
Enter a number(enter stop when you wanna exit):  2
Enter a number(enter stop when you wanna exit):  3
Enter a number(enter stop when you wanna exit):  4
Enter a number(enter stop when you wanna exit):  5
Enter a number(enter stop when you wanna exit):  6
Enter a number(enter stop when you wanna exit):  7
Enter a number(enter stop when you wanna exit):  8
Enter a number(enter stop when you wanna exit):  9
Enter a number(enter stop when you wanna exit):  10
Enter a number(enter stop when you wanna exit):  stop

for even(10 2 6.0(max,min,avg))
for odd(9 1 5.0(max,min,avg))

In [13]:
def check_disarium_number(n:int)->bool:
    count=count_digits(n)
    temp=n
    ans=0
    while temp>0:
        ans+=(temp%10)**(count)
        count-=1
        temp//=10
    return ans==n

def count_digits(n:int)->int:
    count=0
    while n>0:
        count+=1
        n//=10
    return count

def check_harshed_number(n):
    temp=n
    sum=0
    while temp>0:
        sum+=temp%10
        temp//=10
    return n%sum==0
# print(check_harshed_number(18))
for i in range(1,101):
    if check_harshed_number(i) and check_disarium_number(i):
        print(i)

1
2
3
4
5
6
7
8
9

In [307]:
count=0
max1=0
min1=100
max2=0
min2=0
avg=0
sum=0
while True:
    if count==10:break
    num=int(input('Enter Test Score: '))
    if num>100:
        print('Entered score is more than hundred, so enter again')
        continue
    count+=1
    sum+=num
    print(sum)
    if count==1:
        max1=num
        max2=num
        min1=num
        min2=num

    if num>max1:
        max2=max1
        max1=num
    elif num>max2 and max2!=max1:
        max2=num

    if num<min1:
        min2=min1
        min1=num
    elif num<min2 and min2!=min1:
        min2=num
print(count)
avg=sum/(count)
print(avg)
print(f'highest score is {max1} and lowest score is {min1}')
print(f'Average score is {avg}')
print(f'Second largest score is {max2}')
print(f'Average after dropping two lowest scores is: {(sum-min1-min2)/(count-2)}')

Enter Test Score:  80

80

Enter Test Score:  70

150

Enter Test Score:  60

210

Enter Test Score:  150

Entered score is more than hundred, so enter again

Enter Test Score:  50

260

Enter Test Score:  70

330

Enter Test Score:  20

350

Enter Test Score:  89

439

Enter Test Score:  90

529

Enter Test Score:  45

574

Enter Test Score:  67

641
10
64.1
highest score is 90 and lowest score is 20
Average score is 64.1
Second largest score is 89
Average after dropping two lowest scores is: 72.0

In [37]:
num=int(input('Enter a number: '))
temp=num
ans=0
while temp>0:
    rem=temp%10
    en=0
    if rem>=0 and rem<=8:en=rem+1
    else:en=0
    ans=ans*10+en
    temp//=10
temp=ans
print(ans)
ans=0
while temp>0:
    ans=ans*10+temp%10
    temp//=10
print('The number after encoding is',ans)

Enter a number:  9259

630
The number after encoding is 36

In [309]:
num=int(input('Enter a number: '))
temp=num
count=0
while temp>0:
    count+=1
    temp//=10
temp=num
ans=0
while temp>0:
    rem=temp//10**(count-1)
    temp%=10**(count-1)
    count-=1
    en=0
    if rem>=0 and rem<=8:en=rem+1
    else:en=0
    ans=ans*10+en
print('The number after encoding is:',ans)

Enter a number:  9259

The number after encoding is: 360

In [71]:
num=2
for i in range(111111,1000000):
    temp=i
    mul=1
    while temp>0:
        mul*=temp%10
        temp//=10
    if mul==num:print(i)

111112
111121
111211
112111
121111
211111

In [79]:
sum=0
count=0
avg=0
max=0
min=0
while True:
    num=(input('Enter number(enter quit when you want to exit): '))
    if num=='quit' or num=='Quit':break
    count+=1
    n=int(num)
    if count==1:
        max=n
        min=n
    sum+=n
    if n>max:max=n
    if n<min:min=n
avg=sum/count
print(f'''
Sum={sum}
Average={avg:.3f}
Minimum Number={min}
Maximum Number={max}
''')

Enter number(enter quit when you want to exit):  4
Enter number(enter quit when you want to exit):  1
Enter number(enter quit when you want to exit):  5
Enter number(enter quit when you want to exit):  quit

Sum=10
Average=3.333
Minimum Number=1
Maximum Number=5

In [85]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):print('*',end=' ')
    for k in range(1,2*(n-i)):print(' ',end=' ')
    for j in range(i,0,-1):
        if j==n:continue
        print('*',end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(1,i+1):print('*',end=' ')
    for k in range(1,2*(n-i)):print(' ',end=' ')
    for j in range(i,0,-1):
        if j==n:continue
        print('*',end=' ')
    print()

*               *
* *           * *
* * *       * * *
* * * *   * * * *
* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *

In [91]:
month=input('Enter Month: ')
night=int(input('Enter Nights: '))

cost_studio:float=0
cost_apart:float=0
discount_studio:float=0
discount_apart:float=0

if month=='January' or month=='February' or month=='March' or month=='April':
    cost_studio=50*night
    cost_apart=60*night
    if night>3 and night<=7:
        discount_studio=cost_studio*0.2
    if night>7:
        discount_studio=cost_studio*0.3
elif month=='May' or month=='June' or month=='July' or month=='August':
    cost_studio=70*night
    cost_apart=80*night
    if night>3 and night<=7:
        discount_studio=cost_studio*0.1
    if night>7:
        discount_studio=cost_studio*0.2
else:
    cost_studio=80*night
    cost_apart=90*night
    if night>3 and night<=7:
        discount_studio=cost_studio*0.05
    if night>7:
        discount_studio=cost_studio*0.1

if night>7:
    discount_apart=cost_apart*0.1
cost_studio-=discount_studio
cost_apart-=discount_apart
print(f'Studio Rent for {night} Nights is $ {int(cost_studio)}')
print(f'Apartment Rent for {night} Nights is $ {int(cost_apart)}')

Enter Month:  May
Enter Nights:  5

Studio Rent for 5 Nights is $ 315
Apartment Rent for 5 Nights is $ 400

In [123]:
year=int(input('Enter a year: '))
month=0
a=year%19
b=year%4
c=year%7
d=(19*a+24)%30
e=(2*b+4*c+6*d+5)%7
dateofeaster=22+d+e
if year==1954 or year==1981 or year==2049 or year==2076:
    dateofeaster-=7
if dateofeaster>31:
    dateofeaster%=31
    month=4
else:month=3
print(f'Expected Outcome: {year}-{month:02d}-{dateofeaster:02d}')

Enter a year:  2076

Expected Outcome: 2076-04-19

In [121]:
year = int(input("Enter a year between 1900 to 2099: "))
# Calculate the values using the given algorithm
a = year % 19
b = year % 4
c = year % 7
d = (19 * a + 24) % 30
e = (2 * b + 4 * c + 6 * d + 5) % 7
date_of_easter = 22 + d + e
# Check if the calculated date is in April
if date_of_easter > 31:
# Adjust the date to be in April
    date_of_easter -= 31
    month = 4 # April
else:month = 3 # March
# Check if the year is one of the special years
if year==1954 or year==1981 or year==2049 or year== 2076:
    date_of_easter -= 7
# Display the date of Easter Sunday
print(f"The date of Easter Sunday in {year} is:{year}-{month:02d}-{date_of_easter:02d}")

Enter a year between 1900 to 2099:  2076

The date of Easter Sunday in 2076 is:2076-04-19

In [131]:
n=5
for i in range(n,0,-1):
    for k in range(n,i,-1):print(end='  ')
    for j in range(1,i+1):print('*',end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [185]:
#Simple Python Calculator
    # print(power(args))
    # print('invalid choice')
def addition(*args):
    sum1=args[0]
    for x in args[1:]:sum1+=x
    return sum1
def subtraction(*args):
    sub=args[0]
    for x in args[1:]:sub-=x
    return sub
def multiplication(*args):
    mul=1
    for x in args:mul*=x
    return mul
def division(*args):
    div=args[0]
    for x in args[1:]:div/=x
    return div
def power(*args):
    pass

def calculator(*args):
    print(addition(args))
    print(subtraction(args))
    print(multiplication(args))
    print(division(args))

In [187]:
calculator(1,2,3,4,5)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [227]:
# Write a python program to convert Days into Years, Months and Days.
# (Ex: if input of Days = 370 then output will be, years=1, months=0 and days = 5).
days=int(input('Enter days: '))
year=days//365
month=(days%365)//30
rem_days=(days%365)%30
print(f'years={year}, months={month} and days = {rem_days}')

Enter days:  398

years=1, months=1 and days = 3

In [193]:
# Write a Python program to convert hours into minutes and seconds 
# (Ex : input of hours = 6 then output will be, minutes = 360 and seconds = 21600 ).
hours=int(input('Enter hours: '))
minutes=hours*60
seconds=hours*3600
print(f'minutes = {minutes} and seconds = {seconds}')

Enter hours:  6

minutes = 360 and seconds = 21600

In [197]:
def addition(a,b):
    return a+b
def subtraction(a,b):
    return a-b
def multiplication(a,b):
    return a*b
def division(a,b):
    return a/b
def modulation(a,b):
    return a%b
def power(a,b):
    return a**b
def floor_division(a,b):
    return a//b

a=int(input('Enter number 1: '))
b=int(input('Enter number 2: '))
op=input('Enter Operand(+ - Addition, - - Subtraction, * - Multiplication, / - Division, // - Floor Division, % - Modulation, ** - Power): ')
if op=='+':print('Addition is:',addition(a,b))
elif op=='-':print('Subtraction is:',subtraction(a,b))
elif op=='*':print('Multiplication is:',multiplication(a,b))
elif op=='/':print('Division is:',division(a,b))
elif op=='//':print('Floor Division is:',floor_division(a,b))
elif op=='%':print('Modulation is:',modulation(a,b))
elif op=='**':print('Power is:',power(a,b))
else:print('Invalid Option')

Enter number 1:  3
Enter number 2:  4
Enter Operand(+ - Addition, - - Subtraction, * - Multiplication, / - Division, // - Floor Division, % - Modulation, ** - Power):  **

Power is: 81

In [223]:
x=int(input('Enter a number: '))
guess=int(input('Enter number of guesses: '))
ans=x/2
for i in range(guess):
    ans=guess
    guess=(guess+x/guess)/2
print('Ans is:',ans)

Enter a number:  25
Enter number of guesses:  100

Ans is: 5.0

In [231]:
a_=1

In [233]:
print(True/False)

ZeroDivisionError: division by zero

In [247]:
def fun(c,a=5,b=10): 
    print(a**2,b//a,c**1)
fun(20,30)

900 0 20

In [283]:
'Hello'+True

TypeError: can only concatenate str (not "bool") to str